
body {
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
color: #777;
background: #777;
width: 960px;
font-size: 18px;
margin: 30px auto;
}
.content {}

.header {
    padding: 3%;
    margin-bottom: 1%;
    background: #ebebeb;
    text-align: center;
}

.nav {
    padding: 3%;
    margin-bottom: 1%;
    background: #ebebeb;
    text-align: center;
}

.section {
    float: left;
    padding: 3% 0 .5% 0;
    margin-bottom: 1%;
    text-align: center;
    background: #ebebeb;
    width: 51%; 
    /* width 495/960 percentage */
}

.article {
    padding: 5%;
    margin: 5% 2% 2% 2%;
    height: auto;
    width: auto;
    color: #ebebeb;
    background: #777;
}

.headings {
    padding: 3.5%;
    margin:2%;
    color: #777;
    background: #ebebeb;
    font-weight: bold;
}

.paragraph {
    padding: 3.5%;
    margin:2%;
    color: #777;
    background: #ebebeb;
}

.aside {
    float: right;
    padding: 3% 0 24.5% 0;
    width: 47%;
    margin-bottom: 1%;    
    text-align: center;
    background: #ebebeb;
}

.footer {
    clear: both;
    padding: 3%;
    margin-top: 10px;
    text-align: center;
    background: #ebebeb;
}